.profileCardOuter {
  z-index: 1;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    border-radius: var(--mantine-radius-lg);
    background-color: var(--mantine-color-body);
    opacity: 0.85;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid
      color-mix(in srgb, var(--mantine-color-body), transparent 20%);
  }
}

.profileCardContent {
    padding-top: var(--mantine-spacing-lg);
  padding-bottom: var(--mantine-spacing-lg);
}

.generalInfo {
  text-decoration: dotted;
  @media (max-width: $mantine-breakpoint-xs) {
    align-items: center;
    > * {

      @media (max-width: $mantine-breakpoint-xs) {
        text-align: center;
      }
    }

    > .badges {
      justify-content: center;
    }

    > .birthdateAndReferral {
      text-align: center;
      justify-content: center;
    }
  }
}