.header {
  height: 56px;
  margin: var(--mantine-spacing-lg);
  flex-shrink: 0;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    border-radius: var(--mantine-radius-lg);
    background-color: var(--mantine-color-body);
    opacity: 0.4;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid
      color-mix(in srgb, var(--mantine-color-body), transparent 20%);
  }
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
